<?xml version="1.0" encoding="UTF-8"?>
<settings
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd"
  xmlns="http://maven.apache.org/SETTINGS/1.1.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <profiles>
    <profile>
      <id>tmoci</id>
      <activation>
        <property>
          <name>env.CI</name>
          <value>true</value>
        </property>
      </activation>
      <repositories>
        <repository>
          <id>gitlab-maven-apicfe</id>
          <url>https://gitlab.com/api/v4/groups/tmobile%2Face/-/packages/maven</url>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>central</id>
          <url>${env.MAVEN_CENTRAL_REPO_URL}</url>
        </repository>
        <repository>
          <id>gitlab-maven</id>
          <url>https://gitlab.com/api/v4/groups/tmobile/-/packages/maven</url>
        </repository>
      </repositories>
      <properties>
        <sonar.host.url>${env.SONAR_URL}</sonar.host.url>
        <altDeploymentRepository>
          gitlab-maven::default::https://gitlab.com/api/v4/projects/${env.CI_PROJECT_ID}/packages/maven</altDeploymentRepository>
      </properties>
    </profile>
    <profile>
      <id>tmolocal</id>
      <activation>
        <property>
          <name>!env.CI</name>
        </property>
      </activation>
      <repositories>
        <repository>
          <id>gitlab-maven-apicfe-pat</id>
          <url>https://gitlab.com/api/v4/groups/tmobile%2Face/-/packages/maven</url>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>central</id>
          <url>https://repo1.maven.org/maven2/</url>
          <releases>
            <enabled>true</enabled>
          </releases>
        </repository>
        <repository>
          <id>gitlab-maven-pat</id>
          <url>https://gitlab.com/api/v4/groups/tmobile/-/packages/maven</url>
        </repository>
      </repositories>
    </profile>
  </profiles>
  <servers>
    <server>
      <id>gitlab-maven-apicfe</id>
      <configuration>
        <httpHeaders>
          <property>
            <name>Job-Token</name>
            <value>${env.CI_JOB_TOKEN}</value>
          </property>
        </httpHeaders>
      </configuration>
    </server>
    <server>
      <id>gitlab-maven-apicfe-pat</id>
      <configuration>
        <httpHeaders>
          <property>
            <name>Private-Token</name>
            <value>${env.GITLAB_PAT}</value>
          </property>
        </httpHeaders>
      </configuration>
    </server>
    <server>
      <id>gitlab-maven</id>
      <configuration>
        <httpHeaders>
          <property>
            <name>Job-Token</name>
            <value>${env.CI_JOB_TOKEN}</value>
          </property>
        </httpHeaders>
      </configuration>
    </server>
    <server>
      <id>gitlab-maven-pat</id>
      <configuration>
        <httpHeaders>
          <property>
            <name>Private-Token</name>
            <value>${env.GITLAB_PAT}</value>
          </property>
        </httpHeaders>
      </configuration>
    </server>
  </servers>
</settings>
